
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>

<body style="text-align: center;">
    <div class="row  m-5">
        <div class="col-4 "></div>
        <div id="bod" class="col-4 mt-5 p-5  ">

            <h1 class = "mt-2 ms-3 text-light">
                IMSA
            </h1>
            <!-- <h2 class = "mt-2 ms-3 text-light">{{aim}}</h2> -->
                <img src="../../assets/Images/Washington_Federal-Logo.wine.png" alt="img" style="height: 20%; width: 25% ; align-items: center;" class="mb-4 ms-3">
            <h1>
                <input (change)="acnoChange($event)" type="text" id="logacno"  class="form-control mt-3" [placeholder]="acc" >
            <input (change)="passChange($event)" type="password" id="logpass" class="form-control mt-3" placeholder="Password">
            </h1>
            <h1>
                <button class="btn btn-success  pe-3 " type="button" (click)="login()" style="height: 50px; width: 100%;" >Login</button>
            </h1>alert
            <p class="m-3">
                <a href="">Forgot Password?</a>  or    <a href="../registration/registration.component.html"  >signup</a>
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</body>
