
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>

<body style="text-align: center;">

    
    <div class="row  m-5">
        <div class="col-4 "></div>
        <div id="bod" class="col-4 mt-5  p-3 ">

            <h1 class = "mt-2 ms-3 ">
                BANK
            </h1>
            <!-- <h2 class = "mt-2 ms-3 text-light">{{aim}}</h2> -->
                <img src="../../assets/Images/512x512.png" alt="img" style="height: 15%; width: 15% ; align-items: center;" class="mb-4 ms-3">
            <h1 class="ms-4">
                <input [(ngModel)] ="acno" type="text" id="logacno"  class="form-control mt-3 ms-5" style="height: 40px; width: 70%; align-items: center;"     [placeholder]="acc" >
            <input [(ngModel)] ="pswd" type="password" id="logpass" class="form-control mt-3 ms-5" style="height: 40px; width: 70%; align-items: center;" placeholder="Password">
            </h1>
            <h2>
                <button class="btn btn-success mt-3 " type="button" (click)="login()" style="height: 40px; width: 50%;" >Login</button>
            </h2>
            <p class="mt-4 ">
                <a href="">Forgot Password?</a>  or    <a routerLink="registration"  >signup</a>
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</body>
